body, html{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  background-image: url("./Assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#root{
  height: 100%;
}

.App{
  height: 100%;
}

.wrapper{
  margin-top: 2vh;
  display: flex;
  height: 100%;
  width: 100%;
}

.feed{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.dropdown{
  margin: 0;
  padding: 0;
  width: 10vw;
  position: relative;
  left: 70vw;
}